<h3>Home Improvement</h3>
{{#if services}}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Service</th>
      <th>Company</th>
      <th scope="col">Cost</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      {{#each services}}
        <div class="service">
            <tr>
                <td>{{name}}</td>
                <td>{{company.name}}</td>
                <td>{{cost}}</td>
                <td>
                    <a class="btn btn-primary" href="/homeimprovement/{{serviceId}}" role="button">See details</a>
                </td>
            </tr>
        </div>
      {{/each}}
   </tbody>
</table>

{{else}}
<p>No services in this category!</p>
{{/if}}